.button{
background: none;
border: 1px solid var(--border-grid);
border-radius: 5px;
color: var(--font-color-selected);
user-select: none;
}

button:hover{
background: var(--border-sidebar);
transition: all 0.4s ease-out;
}
.button.-middle{
 margin-left: 24px;
 margin-right: 24px;
}
.button.-right{
  margin-left: 24px;
}
.nav-link{
  color: var(--font-color-selected);
 }
.disabled{
  background-color: var(--border-sidebar);
  color: var(--background-card);
}
