.table{
  background-color: var(--border-sidebar);
  border: 1px solid var(--border-grid);
  color: var(--font-color-selected);
  margin: auto;
  width: 99%;
  margin-top: 56px;
}

.selected {
  background: var(--gradient-purple);
  color: #fff;
}
.nav{
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 96%;
  margin-top: 40px;
}

.search{
  border: 1px solid var(--border-grid);
  width: 275px;
}

.forms{
  color: var(--font-color-selected);
  width: 50%;
  margin-top: 56px;
  margin-left: 24px;
}
.buttons-form{
  margin-top: 24px;
}
.row{
  margin-top: 8px;
}

.field-link{
  text-decoration: underline;
  cursor: pointer;
}
.pagination{
  position: fixed;
  bottom: 0;
  margin-bottom: 25px;
  margin-left: 8px;
}
