<erp-topbar [titulo]="title" class="topbar"></erp-topbar>
<nav class="nav">
  <div class="buttons">
    <button class="button"><a class="nav-link" [routerLink]="['/clientes/adicionar']">Adicionar</a></button>
    <button class="button -middle"><a class="nav-link" (click)="editCustomer()">Editar</a></button>
    <button class="button"><a class="nav-link" (click)="deleteCustomer()">Deletar</a></button>
  </div>
  <form class="d-flex " role="search">
    <input type="text" class="form-control me-2 search" placeholder="Procurar" #filter
      (input)="searchCustomer(filter.value)" name="search">
  </form>
</nav>
<table class="table" *ngIf="!this.showFilteredList">
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th>CPF/CNPJ</th>
      <th>Email</th>
      <th>Endereço</th>
      <th>Número</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Telefone</th>
      <th>celular</th>
      <th>Descrição</th>
    </tr>
  </thead>
  <tbody *ngFor="let customer of this.items" [class.active]="customer.selected"
    [ngClass]="{'selected': customer.selected}" (click)="selectCustomer(customer)">
    <tr *ngIf="!customer.deleted">
      <td><input type="checkbox" [checked]="customer.selected"></td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.cpfCnpj }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.address }}</td>
      <td>{{ customer.number }}</td>
      <td>{{ customer.neighborhood }}</td>
      <td>{{ customer.city }}</td>
      <td>{{ customer.state }}</td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.mobilePhone }}</td>
      <td>{{ customer.description }}</td>
    </tr>
  </tbody>
</table>
<table class="table" *ngIf="this.showFilteredList">
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th>CPF/CNPJ</th>
      <th>Email</th>
      <th>Endereço</th>
      <th>Número</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Telefone</th>
      <th>celular</th>
      <th>Descrição</th>
    </tr>
  </thead>
  <tbody *ngFor="let customer of filteredList" [class.active]="customer.selected"
    [ngClass]="{'selected': customer.selected}" (click)="selectCustomer(customer)">
    <tr *ngIf="!customer.deleted">
      <td><input type="checkbox" [checked]="customer.selected"></td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.cpfCnpj }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.address }}</td>
      <td>{{ customer.number }}</td>
      <td>{{ customer.neighborhood }}</td>
      <td>{{ customer.city }}</td>
      <td>{{ customer.state }}</td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.mobilePhone }}</td>
      <td>{{ customer.description }}</td>
    </tr>
  </tbody>
</table>
