<erp-topbar [titulo]="title" class="topbar"></erp-topbar>
<nav class="nav">
  <div class="buttons">
    <button class="button"><a class="nav-link" [routerLink]="['/clientes/adicionar']">Adicionar</a></button>
    <button class="button -middle"><a class="nav-link" (click)="editCustomer()">Editar</a></button>
    <button class="button"><a class="nav-link" (click)="deleteCustomer()">Deletar</a></button>
  </div>
  <form class="d-flex " role="search">
    <input type="text" class="form-control me-2 search" placeholder="Procurar" #filter
      (input)="searchCustomer(filter.value)" name="search">
  </form>
</nav>
<table class="table" *ngIf="!this.showFilteredList">
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th>CPF/CNPJ</th>
      <th>Endereço</th>
      <th>Número</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Telefone</th>
      <th>celular</th>
    </tr>
  </thead>
  <tbody *ngFor="let customer of this.pagination" [class.active]="customer.selected"
    [ngClass]="{'selected': customer.selected}" (click)="selectCustomer(customer)">
    <tr *ngIf="!customer.deleted">
      <td><input type="checkbox" [checked]="customer.selected"></td>
      <td title="Detalhes de {{customer.name}}" class="field-link" [routerLink]="['/clientes/detalhes']">{{
        customer.name }}</td>
      <td>{{ customer.cpfCnpj }}</td>
      <td>{{ customer.address }}</td>
      <td>{{ customer.number }}</td>
      <td>{{ customer.neighborhood }}</td>
      <td>{{ customer.city }}</td>
      <td>{{ customer.state }}</td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.mobilePhone }}</td>
    </tr>
  </tbody>

</table>
<nav aria-label="Page navigation example" *ngIf="!this.showFilteredList">
  <ul class="pagination" style="margin-top: 10px;margin-left: 8px;">
    <li class="page-item"><button class="page-link button" [disabled]="currentPage === 1"
        [class.disabled]="currentPage === 1" (click)="previousPage()">Anterior</button></li>
    <li class="page-item"><button class="page-link button" [disabled]="this.currentPage === totalPages"
        [class.disabled]="this.currentPage === totalPages" (click)="nextPage()"
        style="margin-left: 8px;">Próxima</button></li>
  </ul>
</nav>
<table class="table" *ngIf="this.showFilteredList">
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th>CPF/CNPJ</th>
      <th>Endereço</th>
      <th>Número</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Telefone</th>
      <th>celular</th>
    </tr>
  </thead>
  <tbody *ngFor="let customer of filteredList" [class.active]="customer.selected"
    [ngClass]="{'selected': customer.selected}" (click)="selectCustomer(customer)">
    <tr *ngIf="!customer.deleted">
      <td><input type="checkbox" [checked]="customer.selected"></td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.cpfCnpj }}</td>
      <td>{{ customer.address }}</td>
      <td>{{ customer.number }}</td>
      <td>{{ customer.neighborhood }}</td>
      <td>{{ customer.city }}</td>
      <td>{{ customer.state }}</td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.mobilePhone }}</td>
    </tr>
  </tbody>
</table>
