<div class="sidebar">
  <div class="title-container">
    <div class="logo">
      ✨
    </div>
    <div class="title">
      <p>ERP</p>
    </div>
  </div>
  <div class="menu-buttons-container">
    <div class="for-botao" *ngFor="let item of menuList; index as i;">
      <div *ngIf="i==0">
        <a href="#" class="menu-button -selected" routerLinkActive="active">
          <div class="icon">
            <i class="{{item.icone}}"></i>
          </div>
          <div class="text">
            {{item.titulo}}
          </div>
        </a>
      </div>
      <div *ngIf="i>0">
        <a class="menu-button">
          <div class="icon">
            <i class="{{item.icone}}"></i>
          </div>
          <div class="text">
            {{item.titulo}}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>