<erp-topbar [titulo]="titulo" class="topbar"></erp-topbar>
<div class="first-line">
  <erp-simple-card [data]="data" [typeData]="type" [title]="title"></erp-simple-card>
  <erp-simple-card [data]="data" [typeData]="type" [title]="title"></erp-simple-card>
  <erp-simple-card [data]="data" [typeData]="type" [title]="title"></erp-simple-card>
  <erp-simple-card [data]="data" [typeData]="type" [title]="title"></erp-simple-card>
</div>
<div class="second-line" style="color: white;">
  <erp-graphic-card></erp-graphic-card>
</div>
<div class="third-line">
  <erp-simple-card [data]="data" [typeData]="type" [title]="title"></erp-simple-card>
  <erp-simple-card [data]="data" [typeData]="type" [title]="title"></erp-simple-card>
  <erp-simple-card [data]="data" [typeData]="type" [title]="title"></erp-simple-card>
  <erp-simple-card [data]="data" [typeData]="type" [title]="title"></erp-simple-card>
</div>