<div class="first-line">
  <erp-simple-card [data]="data" [typeData]="type" [title]="title"></erp-simple-card>
  <erp-simple-card [data]="data" [typeData]="type" [title]="title"></erp-simple-card>
  <erp-simple-card [data]="data" [typeData]="type" [title]="title"></erp-simple-card>
  <erp-simple-card [data]="data" [typeData]="type" [title]="title"></erp-simple-card>
</div>
<div class="second-line" style="color: white;">
  aqui vai ver o outro
</div>
<div class="third-line">
  <erp-simple-card [data]="data" [typeData]="type" [title]="title"></erp-simple-card>
  <erp-simple-card [data]="data" [typeData]="type" [title]="title"></erp-simple-card>
  <erp-simple-card [data]="data" [typeData]="type" [title]="title"></erp-simple-card>
  <erp-simple-card [data]="data" [typeData]="type" [title]="title"></erp-simple-card>
</div>