<erp-topbar [titulo]="titulo" class="topbar"></erp-topbar>
<div class="first-line">
  <erp-simple-card data="90%" title="Quantidade de estoque total"></erp-simple-card>
  <erp-simple-card data="R$5500" title="Contas a receber do mês"></erp-simple-card>
  <erp-simple-card data="R$12000" title="Contas a pagar do mês"></erp-simple-card>
  <erp-simple-card data="R$8000" title="Caixa diário"></erp-simple-card>
</div>
<div class="second-line" style="color: white;">
  <erp-graphic-card></erp-graphic-card>
</div>
<div class="third-line">
  <erp-simple-card data="150" title="Total de venda diário" typeData="Vendas"></erp-simple-card>
  <erp-simple-card data="0" typeData="Produtos" title="Produtos com estoque baixo"></erp-simple-card>
</div>